header {
  position: sticky;
  border: none;
  top: 0;
  background-color: #fff;
  z-index: 10000;
}

.header_container {
  max-width: 1024px;
  margin: auto;
  text-align: center;
}
#bannerImg{
  height: 150px;
}
#navbar-Edit{
  background-color: rgb(235, 240, 226);
  border-radius: 5px;
}
.logo {
  height: 120px;
}
nav a {
  color: rgb(67, 89, 17);
  font-size: 19px;
  font-weight: 700;
  padding: 9px;
  text-decoration: none;
}
nav a:hover {
  color: rgb(171, 203, 92);
}
/* Main */
main {

  border: 1px solid #ccc7c8;
  border-radius: 9px;
  margin: 15px auto;
  padding: 0 0 20px 0;
  max-width: 1024px;
}
.tieuDe1{
  color: rgb(67, 89, 17);
  text-align: center;
  padding-top: 9px;
}
.homepage_container .caption {
  background-color:rgb(171, 203, 92) ;
  height: 40px;
  border-radius: 9px;
  text-align: center;
}
.caption-text {
  font-size: 26px;
  font-weight: 700;
  color: rgb(67, 89, 17);
}
#products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#products_container div {
  text-align: center;
}
.product h3 {
  font-size: 26px;
}
.product h3:hover {
  color: rgb(171, 203, 92);
  cursor: pointer;
}
.product h4 {
  font-size: 18px;
}
.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product {
  text-align: center;
  border: 1px solid;
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.product:hover {
  border: 2px solid rgb(171, 203, 92);
  border-radius: 3px;
}
.product img {
  margin: 9px auto;
  width: 115px;
  height: 160px;
}
.product img:hover {
  cursor: pointer;
}
#seeMore{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  width: 120px;
  height: 40px;
  background-color:rgb(235, 240, 226) ;
  border-radius: 5px;
  margin-bottom: 20px;
}
#seeMore a{
  text-decoration: none;
  margin: auto;
  font-size: larger;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(67, 89, 17);
}
#seeMore a:hover{
  color: rgb(171, 203, 92);
}
/* Footer */

footer {
  max-width: 1024px;
  margin: auto;
  padding: 29px;
  border: 1px solid #ccc7c8;
  border-radius: 9px;
  background-color: rgb(235, 240, 226);
}
footer h3 {
  color: rgb(67, 89, 17);
  padding-left: 0;
}
footer ul {
  padding-left: 0;
  list-style: none;
}
.fa-brands,
.fa-solid {
  padding: 5px;
  width: 30px;
  margin-right: 5px;
  color: rgb(171, 203, 92);
}
li a {
  text-decoration: none;
  color: rgb(102, 102, 102);
}
li a:hover {
  color: rgb(171, 203, 92);
}
#footerImg {
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 280px;
}
footer .top {
  position: fixed;
  right: 66px;
  bottom: 66px;
  padding: 10px;
  z-index: 100;
}
footer .top img {
  width: 80px;
  height: 60px;
}
#footerEnd {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200; 
  background-color: rgb(67, 89, 17);
  color: #fff;
  text-align: center;
  padding: 5px;
}
